.LoginPageContainer {
    display:flex;
    height: 80vh;
    justify-content: space-around;
}

input {
    width: 30vw;
}

.registration {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70vh;
    width: 50vw;
}

.register-inp-area {
    display:flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
}

.register-inp-area div, .login-inp-area div {
    display: flex;
    flex-direction: column;
}
.registration button {
    margin-top: 2vh;
}

.login {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50vw;
    height:70vh;
    justify-content: center;
}

.login-inp-area {
    display:flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
}

.login button {
    margin-top:2vh;
}

.login-status {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .LoginPageContainer {
        display:flex;
        flex-direction: column;
        height: 80vh;
        align-items: center;
    }

    input {
        width: 60vw;
    }
}